
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

nav h1 {
    font-size: 36px;
    text-decoration: underline;
}

a {
    color: white;
    background-color: #FF6766;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    background-color: #009899;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.content-box {
    background-color: white;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.model-image {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.lorem {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.year {
    font-size: 22px;
    font-weight: bold;
    color: #555;
}

.back-home-button {
    color: white;
    background-color: #FF6766;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.back-home-button:hover {
    background-color: #009899;
}
